@{
     Layout = "~/Views/Shared/_Layout.cshtml";
}

@using CarBookingApp.ViewModels
@model StatusViewModel

<form method="post" action="@Url.Action("CreateStatus", "Admin")">
     @Html.AntiForgeryToken()

     <div class="form-group">
          <label for="StatusName">StatusName</label>
          <input type="text" class="form-control" id="StatusName" name="StatusName">
     </div>

     <button type="submit" class="btn btn-primary">Create</button>
</form>