@{
     Layout = "~/Views/Shared/_Layout.cshtml";
}
@using CarBookingApp.ViewModels
@model FuelTypeViewModel

<form method="post" action="@Url.Action("EditFuelType", "Admin")">
     @Html.AntiForgeryToken()

     <div class="form-group">
          <label for="FuelTypeName">FuelType Name</label>
          <input type="hidden" class="form-control" id="FuelTypeId" name="FuelTypeId" value="@Model.FuelTypeId">
          <input type="text" class="form-control" id="FuelTypeName" name="FuelTypeName" value="@Model.FuelTypeName">
     </div>

     <button type="submit" class="btn btn-primary">Update</button>
</form>