        <div class="main">
             <section class="content">
                <div class="wrapper-content content__wrap">
                    <!-- content gallery -->
                    <section class="content__gallery">
                        <div class="gallery__item-preview">
                            <div class="gallery__dsrc">
                                <h3 class="gallery__title">
                                    Sports car with the best design and acceleration
                                </h3>
                                <p class="gallery__txt">
                                    Safety and comfort while driving a futuristic and elegant sports car
                                </p>
                            </div>
                      </div>
                    </section>
                    <!-- content detail -->
                <section class="content__detail">
                     <!-- detail primary wrap -->
                     <div class="content__detail-primary-wrap">
                          <div class="content__detail-title-wrap">
                               <h3 class="content-detail__title">
                                    Nissan GT - R
                               </h3>
                               <div class="content-detail__reviews-wrap">
                                    <span class="content__rating">
                                         <svg class="content__rating-star" width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                              <path fill-rule="evenodd" clip-rule="evenodd" d="M9.16664 2.65862C9.22421 2.47609 9.33846 2.31666 9.49281 2.20349C9.64717 2.09031 9.83358 2.0293 10.025 2.0293C10.2164 2.0293 10.4028 2.09031 10.5571 2.20349C10.7115 2.31666 10.8257 2.47609 10.8833 2.65862L12.4333 7.42529H17.4333C17.6315 7.41779 17.8268 7.47541 17.9892 7.58932C18.1516 7.70324 18.2723 7.86719 18.3327 8.05614C18.3932 8.24508 18.3902 8.44862 18.324 8.63567C18.2579 8.82271 18.1324 8.98297 17.9666 9.09196L13.9083 12.0336L15.4583 16.8086C15.5196 16.9905 15.5212 17.1872 15.4627 17.3701C15.4043 17.5529 15.2889 17.7122 15.1335 17.8249C14.9781 17.9375 14.7907 17.9975 14.5988 17.996C14.4068 17.9946 14.2204 17.9319 14.0666 17.817L9.99998 14.842L5.94164 17.792C5.7879 17.9069 5.60145 17.9696 5.40951 17.971C5.21758 17.9725 5.03022 17.9125 4.87479 17.7999C4.71936 17.6872 4.604 17.5279 4.54557 17.3451C4.48713 17.1622 4.48868 16.9655 4.54998 16.7836L6.09998 12.0086L2.04164 9.06696C1.87588 8.95797 1.75035 8.79771 1.68424 8.61067C1.61813 8.42362 1.61508 8.22008 1.67554 8.03114C1.736 7.84219 1.85666 7.67824 2.01907 7.56432C2.18149 7.45041 2.37673 7.39279 2.57498 7.40029H7.57498L9.16664 2.65862Z" fill="#FBAD39"/>
                                         </svg>                                            
                                         <svg class="content__rating-star" width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                              <path fill-rule="evenodd" clip-rule="evenodd" d="M9.16664 2.65862C9.22421 2.47609 9.33846 2.31666 9.49281 2.20349C9.64717 2.09031 9.83358 2.0293 10.025 2.0293C10.2164 2.0293 10.4028 2.09031 10.5571 2.20349C10.7115 2.31666 10.8257 2.47609 10.8833 2.65862L12.4333 7.42529H17.4333C17.6315 7.41779 17.8268 7.47541 17.9892 7.58932C18.1516 7.70324 18.2723 7.86719 18.3327 8.05614C18.3932 8.24508 18.3902 8.44862 18.324 8.63567C18.2579 8.82271 18.1324 8.98297 17.9666 9.09196L13.9083 12.0336L15.4583 16.8086C15.5196 16.9905 15.5212 17.1872 15.4627 17.3701C15.4043 17.5529 15.2889 17.7122 15.1335 17.8249C14.9781 17.9375 14.7907 17.9975 14.5988 17.996C14.4068 17.9946 14.2204 17.9319 14.0666 17.817L9.99998 14.842L5.94164 17.792C5.7879 17.9069 5.60145 17.9696 5.40951 17.971C5.21758 17.9725 5.03022 17.9125 4.87479 17.7999C4.71936 17.6872 4.604 17.5279 4.54557 17.3451C4.48713 17.1622 4.48868 16.9655 4.54998 16.7836L6.09998 12.0086L2.04164 9.06696C1.87588 8.95797 1.75035 8.79771 1.68424 8.61067C1.61813 8.42362 1.61508 8.22008 1.67554 8.03114C1.736 7.84219 1.85666 7.67824 2.01907 7.56432C2.18149 7.45041 2.37673 7.39279 2.57498 7.40029H7.57498L9.16664 2.65862Z" fill="#FBAD39"/>
                                         </svg>                                            
                                         <svg class="content__rating-star" width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                              <path fill-rule="evenodd" clip-rule="evenodd" d="M9.16664 2.65862C9.22421 2.47609 9.33846 2.31666 9.49281 2.20349C9.64717 2.09031 9.83358 2.0293 10.025 2.0293C10.2164 2.0293 10.4028 2.09031 10.5571 2.20349C10.7115 2.31666 10.8257 2.47609 10.8833 2.65862L12.4333 7.42529H17.4333C17.6315 7.41779 17.8268 7.47541 17.9892 7.58932C18.1516 7.70324 18.2723 7.86719 18.3327 8.05614C18.3932 8.24508 18.3902 8.44862 18.324 8.63567C18.2579 8.82271 18.1324 8.98297 17.9666 9.09196L13.9083 12.0336L15.4583 16.8086C15.5196 16.9905 15.5212 17.1872 15.4627 17.3701C15.4043 17.5529 15.2889 17.7122 15.1335 17.8249C14.9781 17.9375 14.7907 17.9975 14.5988 17.996C14.4068 17.9946 14.2204 17.9319 14.0666 17.817L9.99998 14.842L5.94164 17.792C5.7879 17.9069 5.60145 17.9696 5.40951 17.971C5.21758 17.9725 5.03022 17.9125 4.87479 17.7999C4.71936 17.6872 4.604 17.5279 4.54557 17.3451C4.48713 17.1622 4.48868 16.9655 4.54998 16.7836L6.09998 12.0086L2.04164 9.06696C1.87588 8.95797 1.75035 8.79771 1.68424 8.61067C1.61813 8.42362 1.61508 8.22008 1.67554 8.03114C1.736 7.84219 1.85666 7.67824 2.01907 7.56432C2.18149 7.45041 2.37673 7.39279 2.57498 7.40029H7.57498L9.16664 2.65862Z" fill="#FBAD39"/>
                                         </svg>                                            
                                         <svg class="content__rating-star" width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                              <path fill-rule="evenodd" clip-rule="evenodd" d="M9.16664 2.65862C9.22421 2.47609 9.33846 2.31666 9.49281 2.20349C9.64717 2.09031 9.83358 2.0293 10.025 2.0293C10.2164 2.0293 10.4028 2.09031 10.5571 2.20349C10.7115 2.31666 10.8257 2.47609 10.8833 2.65862L12.4333 7.42529H17.4333C17.6315 7.41779 17.8268 7.47541 17.9892 7.58932C18.1516 7.70324 18.2723 7.86719 18.3327 8.05614C18.3932 8.24508 18.3902 8.44862 18.324 8.63567C18.2579 8.82271 18.1324 8.98297 17.9666 9.09196L13.9083 12.0336L15.4583 16.8086C15.5196 16.9905 15.5212 17.1872 15.4627 17.3701C15.4043 17.5529 15.2889 17.7122 15.1335 17.8249C14.9781 17.9375 14.7907 17.9975 14.5988 17.996C14.4068 17.9946 14.2204 17.9319 14.0666 17.817L9.99998 14.842L5.94164 17.792C5.7879 17.9069 5.60145 17.9696 5.40951 17.971C5.21758 17.9725 5.03022 17.9125 4.87479 17.7999C4.71936 17.6872 4.604 17.5279 4.54557 17.3451C4.48713 17.1622 4.48868 16.9655 4.54998 16.7836L6.09998 12.0086L2.04164 9.06696C1.87588 8.95797 1.75035 8.79771 1.68424 8.61067C1.61813 8.42362 1.61508 8.22008 1.67554 8.03114C1.736 7.84219 1.85666 7.67824 2.01907 7.56432C2.18149 7.45041 2.37673 7.39279 2.57498 7.40029H7.57498L9.16664 2.65862Z" fill="#FBAD39"/>
                                         </svg>     
                                         <svg class="content__rating-star" width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                              <path fill-rule="evenodd" clip-rule="evenodd" d="M9.16664 2.65862C9.2242 2.47609 9.33846 2.31666 9.49281 2.20349C9.64717 2.09031 9.83358 2.0293 10.025 2.0293C10.2164 2.0293 10.4028 2.09031 10.5571 2.20349C10.7115 2.31666 10.8257 2.47609 10.8833 2.65862L12.4333 7.42529H17.4333C17.6315 7.41779 17.8268 7.47541 17.9892 7.58932C18.1516 7.70324 18.2723 7.86719 18.3327 8.05614C18.3932 8.24508 18.3902 8.44862 18.324 8.63567C18.2579 8.82271 18.1324 8.98297 17.9666 9.09196L13.9083 12.0336L15.4583 16.8086C15.5196 16.9905 15.5212 17.1872 15.4627 17.3701C15.4043 17.5529 15.2889 17.7122 15.1335 17.8249C14.9781 17.9375 14.7907 17.9975 14.5988 17.996C14.4068 17.9946 14.2204 17.9319 14.0666 17.817L9.99998 14.842L5.94164 17.792C5.7879 17.9069 5.60145 17.9696 5.40951 17.971C5.21758 17.9725 5.03022 17.9125 4.87479 17.7999C4.71936 17.6872 4.604 17.5279 4.54557 17.3451C4.48713 17.1622 4.48868 16.9655 4.54998 16.7836L6.09998 12.0086L2.04164 9.06696C1.87588 8.95797 1.75035 8.79771 1.68424 8.61067C1.61813 8.42363 1.61508 8.22008 1.67554 8.03114C1.736 7.84219 1.85666 7.67824 2.01907 7.56432C2.18149 7.45041 2.37673 7.39279 2.57498 7.40029H7.57498L9.16664 2.65862Z" stroke="#C3D4E9" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                         </svg>                                                                                   
                                    </span>
                                    <a href="#reviews" class="content-detail__reviews">
                                         440+ Reviewer
                                    </a>
                                    <svg class="content-detail__like" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                         <path d="M16.44 3.09961C14.63 3.09961 13.01 3.97961 12 5.32961C10.99 3.97961 9.37 3.09961 7.56 3.09961C4.49 3.09961 2 5.59961 2 8.68961C2 9.87961 2.19 10.9796 2.52 11.9996C4.1 16.9996 8.97 19.9896 11.38 20.8096C11.72 20.9296 12.28 20.9296 12.62 20.8096C15.03 19.9896 19.9 16.9996 21.48 11.9996C21.81 10.9796 22 9.87961 22 8.68961C22 5.59961 19.51 3.09961 16.44 3.09961Z" fill="#ED3F3F"/>
                                    </svg>                                        
                               </div>
                          </div>
                          <p class="content__detail-dscr">
                               NISMO has become the embodiment of Nissan's outstanding performance, inspired by the most unforgiving proving ground, the "race track".
                          </p>
                          <div class="content__detail-spesification-wrap">
                               <div class="detail-spesification__primary-wrap">
                                    <div class="detail__spesification">
                                         <span class="detail__spesification-title">
                                              Type Car
                                         </span>
                                         <span class="detail__spesification-type">
                                              Sport
                                         </span>
                                    </div>
                                    <div class="detail__spesification">
                                         <span class="detail__spesification-title">
                                              Steering
                                         </span>
                                         <span class="detail__spesification-type">
                                              Manual
                                         </span>
                                    </div>
                               </div>
                               <div class="detail-spesification__secondary-wrap">
                                    <div class="detail__spesification">
                                         <span class="detail__spesification-title">
                                              Capacity
                                         </span>
                                         <span class="detail__spesification-type">
                                              2 Person
                                         </span>
                                    </div>
                                    <div class="detail__spesification">
                                         <span class="detail__spesification-title">
                                              Gasoline
                                         </span>
                                         <span class="detail__spesification-type">
                                              70L
                                         </span>
                                    </div>
                               </div>
                          </div>
                     </div>
                     <!-- detail secondary wrap -->
                     <div class="content__detail-secondary-wrap content__price-button-wrap">
                          <div class="content__price__wrap">
                               <span class="content__price detail__price">
                                    $80.00/ <span class="content__price-dscr detail__price-dscr">day</span>
                               </span>
                               <div>
                                    <span class="content__price-old detail__price-old">
                                         <s>$100.00</s>
                                    </span>
                               </div>
                          </div>
                          <button type="button" class="btn btn-primary content__button gallery__button">Rent Now</button>
                     </div>
                </section>
                  
                </div>
</section>
</div>