<!-- footer -->
<footer class="footer">
     <div class="wrapper-content">
          <!-- footer primary wrap -->
          <div class="footer__primary-wrap">
               <div class="footer__primary-wrap_heading-wrap">
                    <a href="index.html" class="footer__heading">
                         rental
                    </a>
                    <p class="footer__heading_dscr">
                         Our vision is to provide convenience 
                         <br>
                         and help increase your sales business.
                    </p>
               </div>
               <div class="footer__primary-wrap_contacts-wrap">
                    <div class="footer__contacts_wrap">
                         <h5 class="footer__contacts_title">
                              About
                         </h5>
                         <div class="footer__contacts_links-wrap">
                              <a href="#" class="footer__contacts_link">How it works</a>
                              <a href="#" class="footer__contacts_link">Featured</a>
                              <a href="#" class="footer__contacts_link">Partnership</a>
                              <a href="#" class="footer__contacts_link">Bussiness Relation</a>
                         </div>
                    </div>
                    <div class="footer__contacts_wrap">
                         <h5 class="footer__contacts_title">
                              Community
                         </h5>
                         <div class="footer__contacts_links-wrap">
                              <a href="#" class="footer__contacts_link">Events</a>
                              <a href="#" class="footer__contacts_link">Blog</a>
                              <a href="#" class="footer__contacts_link">Podcast</a>
                              <a href="#" class="footer__contacts_link">Invite a friend</a>
                         </div>
                    </div>
                    <div class="footer__contacts_wrap">
                         <h5 class="footer__contacts_title">
                              Socials
                         </h5>
                         <div class="footer__contacts_links-wrap">
                              <a href="#" class="footer__contacts_link">Discord</a>
                              <a href="#" class="footer__contacts_link">Instagram</a>
                              <a href="#" class="footer__contacts_link">Twitter</a>
                              <a href="#" class="footer__contacts_link">Facebook</a>
                         </div>
                    </div>
               </div>
          </div>
          <!-- footer secondary wrap -->
          <div class="footer__secondary-wrap">
               <div class="footer__secondary-wrap_primary-items-wrap">
                    <span class="footer__secondary-wrap_primary-item">
                         Privacy & Policy
                    </span>
                    <span class="footer__secondary-wrap_primary-item">
                         Terms & Condition
                    </span>
               </div>
               <div class="footer__secondary-wrap_secondary-items-wrap">
                    <span class="footer__secondary-wrap_secondary-item">
                         &copy;2022 RENTAL. All rights reserved
                    </span>
               </div>
          </div>
     </div>
</footer>

                    
<section class="content">
<div class="wrapper-content content__wrap">
     adasdasd
                         
</div>
</section>