@model Booking.Application.Features.Car.Commands.Update.UpdateCarResponse

@if(Model is not null && Model.Success == false)
{
     <h3>@Model.BaseMessage</h3>

     @if (Model.ValidationErrors != null && Model.ValidationErrors.Any())
     {
          @foreach(var e in Model.ValidationErrors)
          {
               <p class="text-danger m-0 my-1">@e</p>
          }
     }
}

@if(Model is not null && Model.Success)
{
     <div class="alert alert-success">
          The Car Was Updated successfully
     </div>
}