
.action-buttons button {
     display: inline-block;
     vertical-align: middle;
}

.action-buttons form {
     display: inline-block;
     margin-left: 10px;
}

body {
     color: #404E67;
     background: #F5F7FA;
     font-family: 'Open Sans', sans-serif;
}

.table-wrapper {
     width: 700px;
     margin: 30px auto;
     background: #fff;
     padding: 20px;
     box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
}

.table-title {
     padding-bottom: 10px;
     margin: 0 0 10px;
}

     .table-title h2 {
          margin: 6px 0 0;
          font-size: 22px;
     }

     .table-title .add-new {
          float: right;
          height: 30px;
          font-weight: bold;
          font-size: 12px;
          text-shadow: none;
          min-width: 100px;
          border-radius: 50px;
          line-height: 13px;
     }

          .table-title .add-new i {
               margin-right: 4px;
          }

table.table {
     table-layout: fixed;
}

     table.table tr th,
     table.table tr td {
          border-color: #e9e9e9;
     }

     table.table th i {
          font-size: 13px;
          margin: 0 5px;
          cursor: pointer;
     }

     table.table th:last-child {
          width: 100px;
     }

     table.table td button {
          cursor: pointer;
          display: inline-block;
          margin: 0 5px;
          min-width: 24px;
     }

          table.table td button.add {
               color: #27C46B;
          }

          table.table td button.edit {
               color: #FFC107;
          }

          table.table td button.delete {
               color: #E34724;
          }

     table.table td i {
          font-size: 19px;
     }

     table.table td button.add i {
          font-size: 24px;
          margin-right: -1px;
          position: relative;
          top: 3px;
     }

     table.table .form-control {
          height: 32px;
          line-height: 32px;
          box-shadow: none;
          border-radius: 2px;
     }

          table.table .form-control.error {
               border-color: #f50000;
          }

     table.table td button.add {
          display: none;
     }

button.add,
button.edit,
button.delete {
     background: none;
     border: none;
     outline: none;
     box-shadow: none;
     padding: 0;
     font-size: inherit;
     color: inherit;
     cursor: pointer;
}

.btn-delete {
     color: #dc3545;
     background-color: transparent;
     border-color: #dc3545;
     border: none;
}

     .btn-delete:hover {
          color: #c82333;
          background-color: transparent;
          border-color: #bd2130;
          border: none;
     }


@import url(https://fonts.googleapis.com/css?family=Roboto:300,400,700&display=swap);

body {
     font-family: "Roboto", sans-serif;
}

.body {
     background: #fff;
     padding: 40px;
     margin: 0 auto;
     max-width: 1300px;
     min-height: 700px;
     -webkit-box-shadow: 0 2px 90px rgba(0, 0, 0, 0.05);
     box-shadow: 0 2px 90px rgba(0, 0, 0, 0.05);
}

.datepicker-dropdown:after {
     border-bottom-color: #757AFF;
}

.datepicker {
     padding: 0;
     -webkit-box-shadow: 0 3px 30px rgba(0, 0, 0, 0.06);
     box-shadow: 0 3px 30px rgba(0, 0, 0, 0.06);
     border: 0;
}

.datepicker .prev,
.datepicker .next,
.datepicker .datepicker-switch {
     background: #757AFF;
     color: #fff;
     border-radius: 0;
     padding: 20px;
}

.datepicker .prev:hover,
.datepicker .next:hover,
.datepicker .datepicker-switch:hover {
     background: #6b70ff;
     color: #fff;
}

.datepicker .dow,
.datepicker .day {
     height: 45px;
     width: 45px;
     border-radius: 45px;
}

.datepicker .month {
     border-radius: 50px;
}

.datepicker .today.day {
     background: #757AFF33;
     -webkit-box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
     box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
}

.datepicker .today.day:hover {
     background: #757AFF33;
}

.datepicker .active.day {
     background: #757AFF !important;
     -webkit-box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
     box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
}

.datepicker .active.day:hover {
     background: #6b70ff !important;
}




.content__catalogue {
     display: flex;
     flex-wrap: wrap;
     justify-content: space-between;
}

.content__catalogue-item {
     width: calc(50% - 10px); /* Adjust the width as needed */
     margin-bottom: 20px;
     /* Other styles for the item */
}
.responsive-div {
     width: 100%; /* Set the initial width to 100% */
     max-width: 800px; /* Set a maximum width for the div */
     margin: 0 auto; /* Center the div horizontally */
     background-color: #f2f2f2;
     padding: 20px;
     box-sizing: border-box;
}
@media (max-width: 768px) {
     .content__catalogue-item {
          width: 100%; /* On smaller screens, show one car per row */
     }
}

* Responsive styles */
@media screen and (max-width: 768px) {
     .header__content

     {
          text-align: center;
     }

     .header__user-img-wrap,
     .header__logo-wrap {
          display: block;
          margin: 10px auto;
     }

     .navbar-toggler {
          display: block;
          float: none;
     }

     .collapse.navbar-collapse {
          display: none;
     }

     .header__user-settings,
     .dropdown {
          display: inline-block;
          margin: 0 5px;
     }

     .dropdown-content {
          position: relative;
          min-width: 100%;
     }

     .dropdown-content a {
          padding: 8px 12px;
     }

     .dropdown-content a:hover {
          background-color: #f1f1f1;
     }

     .dropdown:hover .dropdown-content {
          display: block;
     }
     .form-check {
          display: flex; /* Use flexbox to arrange elements in a row */
          align-items: center; /* Vertically align elements */
     }

     .form-check-input {
          margin-right: 10px; /* Add some spacing between the checkbox and the label */
     }

}
.datepicker-dropdown:after {
     border-bottom-color: #757AFF;
}

.datepicker {
     padding: 0;
     -webkit-box-shadow: 0 3px 30px rgba(0, 0, 0, 0.06);
     box-shadow: 0 3px 30px rgba(0, 0, 0, 0.06);
     border: 0;
}

.datepicker .prev,
.datepicker .next,
.datepicker .datepicker-switch {
     background: #757AFF;
     color: #fff;
     border-radius: 0;
     padding: 20px;
}

.datepicker .prev:hover,
.datepicker .next:hover,
.datepicker .datepicker-switch:hover {
     background: #6b70ff;
     color: #fff;
}

.datepicker .dow,
.datepicker .day {
     height: 45px;
     width: 45px;
     border-radius: 45px;
}

.datepicker .month {
     border-radius: 50px;
}

.datepicker .today.day {
     background: #757AFF33;
     -webkit-box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
     box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
}

.datepicker .today.day:hover {
     background: #757AFF33;
}

.datepicker .active.day {
     background: #757AFF !important;
     -webkit-box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
     box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
}

.datepicker .active.day:hover {
     background: #6b70ff !important;
}

