@{
     Layout = "~/Features/Shared/_Layout.cshtml";
}
@model CarBookingApp.Features.Transmissions.ViewModel.TransmissionViewModel

<form method="post" action="@Url.Action("Create","Transmission")">
     @Html.AntiForgeryToken()

     <div class="form-group">
          <label for="TransmissionName">Transmission Name</label>
          <span class="text-danger">@Html.ValidationMessageFor(model => model.TransmissionName)</span>

          <input type="text" class="form-control" id="TransmissionName" name="TransmissionName">
     </div>

     <button type="submit" class="btn btn-primary">Create</button>
</form>