@{
     Layout = "~/Views/Shared/_Layout.cshtml";
}

@using CarBookingApp.ViewModels
@model UserRoleViewModel
<div class="catalogue-item-specification__element-wrap text-center">
     <h2 class="text-primary display-4 fw-bold">Add User-Role Relation:</h2>
</div>
<form method="post" action="@Url.Action("AddRole", "User")">
     @Html.AntiForgeryToken()

     <div class="form-group">
          <label asp-for="UserName">UserName:</label>
          <span class="text-danger">@Html.ValidationMessageFor(model => model.UserName)</span>
          <input type="text" class="form-control" id="UserName" name="UserName">

          <label asp-for="RoleName">RoleName:</label>
          <span class="text-danger">@Html.ValidationMessageFor(model => model.RoleName)</span>
          <input type="text" class="form-control" id="RoleName" name="RoleName">
     </div>
     <button type="submit" class="btn btn-primary">Create Relation</button>
</form>