@{
     Layout = "~/Features/Shared/_Layout.cshtml";
}

@model CarBookingApp.Features.Statuses.ViewModel.StatusViewModel

<form method="post" action="@Url.Action("Create","Status")">
     @Html.AntiForgeryToken()

     <div class="form-group">
          <label for="StatusName">StatusName</label>
          <span class="text-danger">@Html.ValidationMessageFor(model => model.StatusName)</span>

          <input type="text" class="form-control" id="StatusName" name="StatusName">
     </div>

     <button type="submit" class="btn btn-primary">Create</button>
</form>