<form action="/your-action-url" method="post" name="create-order">
     <h2>ORDER</h2>

     <div class="container">
          <div class="detail__spesification-type">Choose Rental Start Date</div>
          <input id="startDatePicker" name="start-date" type="text" class="form-control m-datepicker" placeholder="Choose First Date">
     </div>

     <div class="container">
          <div class="detail__spesification-type">Choose Rental End Date</div>
          <input id="endDatePicker" name="end-date" type="text" class="form-control m-datepicker" placeholder="Choose Second Date">
     </div>

     <form method="get" action="@Url.Action("Create","Order",new {id = Model.CarId})">
          <button type="submit" class="btn btn-primary content__button">Submit</button>
     </form>
</form>