@{
     Layout = "~/Features/Shared/_Layout.cshtml";
}

@model CarBookingApp.Features.FuelTypes.ViewModel.FuelTypeViewModel

<form method="post" action="@Url.Action("Create","FuelType")">
     @Html.AntiForgeryToken()

     <div class="form-group">
          <label for="FuelTypeName">FuelType Name</label>
          <span class="text-danger">@Html.ValidationMessageFor(model => model.FuelTypeName)</span>

          <input type="text" class="form-control" id="FuelTypeName" name="FuelTypeName">
     </div>

     <button type="submit" class="btn btn-primary">Create</button>
</form>