@model AddFuelTypeResponse

@if (Model != null)
{
     @if (Model.Success)
     {
          <div class="alert alert-success">
               The FuelType was added successfully
          </div>
     }
     else
     {
          <h3>@Model.BaseMessage</h3>

          @if (Model.ValidationErrors != null && Model.ValidationErrors.Any())
          {
               <div class="alert alert-danger">
                    <ul>
                         @foreach (var error in Model.ValidationErrors)
                         {
                              <li>@error</li>
                         }
                    </ul>
               </div>
          }
     }
}

<form method="post" action="@Url.Action("Create", "FuelType")">
     @Html.AntiForgeryToken()

     <div class="form-group">
          <label for="FuelTypeName">FuelType Name</label>
          <input type="text" class="form-control" id="FuelTypeName" style="width: 50%;" name="FuelTypeName">
     </div>


     <button type="submit" class="btn btn-primary">Create</button>
</form>