@{
     Layout = "~/Features/Shared/_Layout.cshtml";
}

@model CarBookingApp.Features.Brands.ViewModel.BrandViewModel

<form method="post" action="@Url.Action("Create","Brands")">
     @Html.AntiForgeryToken()

     <div class="form-group">
          <label for="BrandName">Brand Name</label>
          <span class="text-danger">@Html.ValidationMessageFor(model => model.BrandName)</span>

          <input type="text" class="form-control" id="BrandName" name="BrandName">
     </div>

     <button type="submit" class="btn btn-primary">Create</button>
</form>